LoadModule dav_svn_module /usr/lib/apache2/mod_dav_svn.so
LoadModule authz_svn_module /usr/lib/apache2/mod_authz_svn.so

<Location /__SVN_URI_PREFIX__>
     DAV svn
     SVNParentPath /home/svn/repos
     SVNAllowBulkUpdates prefer
     AuthType Basic
     AuthName "Subversion Repository"
     AuthUserFile /home/svn/conf/svn-passwd
     AuthzSVNAccessFile /home/svn/conf/svn-access
     Require valid-user
</Location>
